# Environnements virtuels
.venv/
venv/
env/
__pycache__/

# Dossier des fichiers bruts et générés en double (Trop lourd pour GitHub)
Generated/
Data/

# Fichiers de configuration locale Mac/Azure
.DS_Store
local.settings.json
.vscode/
globonews-api-P10.PublishSettings